# Node
node_modules/
npm-debug.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env
.env.*

# Helm
*.tgz

# Misc
coverage/
dist/
